.btn-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 25rem;
  height: 5rem;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 0.5rem;
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 1.4rem;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.btn-left {
  margin-left: 10px;
}

.btn-right {
  margin-right: 10px;
}
