@import 'variables.css';
@import 'modal.css';
@import 'button.css';
@import 'card.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 2rem;
}

.nav-container {
  height: 8rem;
  background-color: var(--primary-color);
  width: 100%;
  padding: 0 2rem;

  display: flex;
  align-items: center;
}

.nav-main {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  color: var(--tertiary-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.contact {
  font-size: 1.8rem;
  cursor: pointer;
}

.form-container {
  padding: 4rem 2rem;
}

.card-form {
  background-color: var(--secundary-color);
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.8rem;
}

.form-control {
  margin-bottom: 2rem;
}

.form-control label {
  display: none;
}

.form-input {
  height: 0.5rem;
  width: 100%;
  padding: 2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  border: 0;
}

.form-input::placeholder {
  color: #b0b2b3;
}

.form-input:disabled {
  background-color: var(--input-disabled-color);
}

.error-message {
  margin-top: 0.5rem;
  color: var(--mensage-error-color);
  font-size: 1.4rem;
  text-indent: 1.5rem;
}

.list-container {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
