.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 2rem;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}

.modal-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 100vw;
  max-width: 48rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 10px solid #cf7132;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  color: #ffffff;
  text-align: center;
}

.modal-content p {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
  margin-bottom: 2.5rem;
}
